In [3]:
import csv
import pandas

In [4]:
df = pandas.read_csv('death.csv')

In [5]:
# Make necessary changes

df.columns=df.columns.str.replace('No. of Persons','')
df.columns=df.columns.str.replace('No. of Cases','Cases')
df.columns=df.columns.str.replace('-','')
df.columns=df.columns.str.replace(' ','_')
df.columns=df.columns.str.replace('__','_')
df.columns=df.columns.str.replace('__','_')
df.columns=df.columns.str.replace('(','')
df.columns=df.columns.str.replace(')','')

In [ ]:
# Do not run this cell multiple times

df = df.drop(df.index[29])
df = df.drop(df.index[-2])
df = df.drop(df.index[-1])

In [8]:
i=0
states = ['AP','AR','AS','BR', 'CT', 'GA', 'GJ','HR', 'HP', 'JK', 'JR', 'KA', 'KL', 'MP', 'MH', 'MN', 'ML', 'MZ', 'NL', 'OR',
         'PB', 'RJ', 'SK', 'TN', 'TL', 'TR', 'UT', 'UP', 'WB', 'AN', 'CH', 'DN', 'CT', 'LD', 'DL', 'PY']

# List of ISO recognized codes for Indian States and UTs.

for name in df['State/UT_Name']:
    df = df.replace(name, states[i])
    i=i+1

In [13]:
df

,Category,State/UT_Name,Air_Crash_Cases,Air_Crash_Injured_Male,Air_Crash_Injured_Female,Air_Crash_Injured_Transgender,Air_Crash_Injured_Total,Air_Crash_Died_Male,Air_Crash_Died_Female,Air_Crash_Died_Transgender,...,Causes_Not_Known_Died_Total,Total_Unnatural_Accidents_Cases,Total_Unnatural_Accidents_Injured_Male,Total_Unnatural_Accidents_Injured_Female,Total_Unnatural_Accidents_Injured_Transgender,Total_Unnatural_Accidents_Injured_Total,Total_Unnatural_Accidents_Died_Male,Total_Unnatural_Accidents_Died_Female,Total_Unnatural_Accidents_Died_Transgender,Total_Unnatural_Accidents_Died_Total
0,State,AP,0,0,0,0,0,0,0,0,...,926,29638,24458,5081,0,29539,12480,2840,0,15320
1,State,AR,1,0,0,0,0,3,0,0,...,22,421,342,49,0,391,280,39,0,319
2,State,AS,0,0,0,0,0,0,0,0,...,30,8554,6007,1137,0,7144,3399,511,0,3910
3,State,BR,0,0,0,0,0,0,0,0,...,182,13516,5251,1236,0,6487,7623,1847,0,9470
4,State,CT,0,0,0,0,0,0,0,0,...,1142,24700,11557,1894,0,13451,10797,3533,3,14333
5,State,GA,1,0,0,0,0,1,1,0,...,7,4824,1831,426,0,2257,636,110,0,746
6,State,GJ,0,0,0,0,0,0,0,0,...,1125,37135,17237,4327,3,21567,17354,4771,2,22127
7,State,HR,0,0,0,0,0,0,0,0,...,121,16646,9495,1135,0,10630,9076,1332,0,10408
8,State,HP,0,0,0,0,0,0,0,0,...,7,4372,4092,1091,0,5183,2053,396,0,2449
9,State,JK,1,0,0,0,0,3,4,0,...,99,6223,6627,1653,0,8280,1072,212,0,1284
10,State,JR,0,0,0,0,0,0,0,0,...,45,7068,3474,624,0,4098,3953,866,0,4819
11,State,KA,0,0,0,0,0,0,0,0,...,518,53159,45458,11562,1,57021,15876,4188,1,20065
12,State,KL,0,0,0,0,0,0,0,0,...,125,43488,33259,10469,0,43728,7047,1588,0,8635
13,State,MP,1,0,0,0,0,1,0,0,...,1766,61652,34925,6484,3,41412,22971,7539,3,30513
14,State,MH,0,0,0,0,0,0,0,0,...,943,90590,39986,9870,1,49857,40053,11373,9,51435
15,State,MN,0,0,0,0,0,0,0,0,...,18,781,1005,153,0,1158,216,24,0,240
16,State,ML,0,0,0,0,0,0,0,0,...,29,584,485,110,0,595,308,61,0,369
17,State,MZ,0,0,0,0,0,0,0,0,...,3,153,60,25,0,85,133,20,0,153
18,State,NL,0,0,0,0,0,0,0,0,...,1,72,59,30,0,89,70,14,0,84
19,State,OR,0,0,0,0,0,0,0,0,...,2335,16103,10238,1592,0,11830,7563,2324,0,9887
20,State,PB,0,0,0,0,0,0,0,0,...,465,10297,3676,806,0,4482,7428,1043,0,8471
21,State,RJ,0,0,0,0,0,0,0,0,...,1580,36720,21758,4625,0,26383,18877,4257,0,23134
22,State,SK,0,0,0,0,0,0,0,0,...,0,317,259,62,0,321,155,28,0,183
23,State,TN,0,0,0,0,0,0,0,0,...,787,81941,62258,17567,1,79826,23117,5507,0,28624
24,State,TL,0,0,0,0,0,0,0,0,...,658,27301,19186,3787,0,22973,11013,2211,1,13225
25,State,TR,0,0,0,0,0,0,0,0,...,11,877,814,215,0,1029,321,78,0,399
26,State,UT,0,0,0,0,0,0,0,0,...,876,42685,15630,3548,36,19214,26540,6082,14,32636
27,State,UP,0,0,0,0,0,0,0,0,...,115,2685,1487,277,0,1764,1783,351,0,2134
28,State,WB,0,0,0,0,0,0,0,0,...,647,25048,14053,1871,0,15924,11177,2424,0,13601
30,Union Territory,AN,0,0,0,0,0,0,0,0,...,5,330,243,88,0,331,78,18,0,96
31,Union Territory,CH,0,0,0,0,0,0,0,0,...,8,476,267,76,0,343,149,50,0,199
32,Union Territory,DN,0,0,0,0,0,0,0,0,...,0,137,77,29,0,106,85,21,0,106
33,Union Territory,CT,0,0,0,0,0,0,0,0,...,2,148,58,6,0,64,100,21,0,121
34,Union Territory,LD,1,2,0,0,2,10,0,0,...,564,12739,7923,1103,0,9026,4818,944,1,5763
35,Union Territory,DL,0,0,0,0,0,0,0,0,...,0,7,2,1,0,3,2,2,0,4
36,Union Territory,PY,0,0,0,0,0,0,0,0,...,3,2096,1213,391,0,1604,674,115,0,789